.header {

    display: flex;
    align-items: center;

    &__math-symbol {
        margin: 0 0 0 40px;
        font-size: 300%;
    }

    &__text {
        margin: 0 0 0 20px;
    }
}

@keyframes alongPath {
    100% {
        offset-distance: 100.0%;
    }
}