.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .content__navbar {
    min-width: 300px;
    height: 100%; }
  .content__main {
    width: 100%;
    background-color: yellow; }
