.what-we-can {
  width: 1000px;
  overflow-x: hidden; }
  .what-we-can__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 4000px; }
  .what-we-can__item {
    height: 500px;
    width: 1000px; }

.what-we-can #item-1:checked ~ .what-we-can__wrapper {
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.what-we-can #item-2:checked ~ .what-we-can__wrapper {
  left: -1000px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.what-we-can #item-3:checked ~ .what-we-can__wrapper {
  left: -2000px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.what-we-can #item-4:checked ~ .what-we-can__wrapper {
  left: -3000px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
