.content {
    &__navbar {
        height: 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: calc(100% - 40px);
    }

    &__section {
        width: 100%;
        max-width: 1400px;
        height: 100%;

        &_radio {
            display: flex;
            align-items: center;
        }
    }
}

.hidden {
    display: none;
}

.section {

    &__header {
        font-size: 20px;
        margin-bottom: 5px;
    }

    &__text {
        margin-top: 0;
    }
}

#our-projects {
    background-color: green;
}

#team {
    background-color: blue;
}