.contacts {
    display: flex;
    width: 150px;

    &__link {
        display: block;
        height: 40px;
        width: 40px;
        background-color: white;
        &_with-margin {
            margin-left: 30px;
        }
    }
}