.page {
    height: 100%;
    margin: 0;
    padding: 0;

    &__header {
        background-color: green;
        height: 10%;
    }

    &__content {
        height: 80%;
    }

    &__footer {
        background-color: blue;
        height: 10%;
    }
}