.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__math-symbol {
    margin: 0 0 0 40px;
    font-size: 300%; }
  .header__text {
    margin: 0 0 0 20px; }

@-webkit-keyframes alongPath {
  100% {
    offset-distance: 100.0%; } }

@keyframes alongPath {
  100% {
    offset-distance: 100.0%; } }
